html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.search-and-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: white;
}


@media (min-width: 639px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
      width: 100%;
      height: auto;
    }
  }
  
@media (min-width: 1024px) {
    .logo {
        margin-right: auto;
    }
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    margin: 0 30px;
}

.search-bar input {
    width: 250px;
    max-width: 400px;
    padding: 10px;
    border: solid;
    border-radius: 20px;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons img {
    height: 30px;
    cursor: pointer;
}

@media (min-width:639px) {
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        flex-direction: column;
        font-size: 1rem;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    flex-direction: column;
}

li {
    display: inline;
    font-size: 1rem;
}

/* Responsive styles */

@media screen and (max-width: 639px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-and-icons {
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 639px) {
    .first {
        display: flex;
        flex-direction: column;
        /* Postavlja sliku i tekst jedan ispod drugog */
        align-items: center;
        /* Centriranje sadržaja */
        text-align: center;
        padding: 20px;
    }

    .right img {
        width: 100%;
        /* Osigurava da slika zauzme punu širinu */
        height: auto;
    }

    .left {
        width: 90%;
        /* Tekst ostaje u okviru ekrana */
    }
}

@media (min-width: 1024px) {
    .first {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-bottom: 50px;
        height: 300px;
        margin: auto;

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;

        }

        .left {
            display: flex;
            /* Aktivirajte fleksibilan layout */
            flex-direction: column;
            /* Elementi se prikazuju jedan ispod drugog */
            align-items: center;
            /* Centriranje elemenata horizontalno */
            justify-content: center;
            /* Centriranje elemenata vertikalno */
            min-height: 100vh;
            /* Visina kontejnera podešena na visinu ekrana */
        }

        .lorem {
            padding: 1px 0;
            /* Gornji i donji razmak */
            text-align: center;
            /* Centrirani tekst */
            font-size: 1rem;
        }

    }
}

.parent {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.child {
    justify-content: flex-end;
}


@media (min-width: 639px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        /* Jedna kolona */
        /*grid-template-rows: auto;*/
        /* Automatsko podešavanje redova */
        gap: 20px;
        /* Razmak između elemenata */
        margin: 10px;
        align-items: center;
    }

    @media (min-width: 640px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Dve kolone */
            grid-template-rows: repeat(4, auto);
            gap: 20px;
           margin: 10px;
        }
    }
}
@media (max-width: 639px) {  
.spot-text {
 display: none;
}
}
@media (min-width: 1024px) {
 .spot-text {
     display: block; /* Vraća vidljivost */
 }
}
html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

@media (min-width: 639px) {
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
}



@media (max-width: 1024px) {
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.search-and-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: white;
}


@media (min-width: 639px) {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
      width: 100%;
      height: auto;
    }
  }
  
@media (min-width: 1024px) {
    .logo {
        margin-right: auto;
    }
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    margin: 0 30px;
}

.search-bar input {
    width: 250px;
    max-width: 400px;
    padding: 10px;
    border: solid;
    border-radius: 20px;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons img {
    height: 30px;
    cursor: pointer;
}

@media (min-width:639px) {
    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 2rem;
        flex-direction: column;
        font-size: 1rem;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    flex-direction: column;
}

li {
    display: inline;
    font-size: 1rem;
}

/* Responsive styles */

@media screen and (max-width: 639px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-and-icons {
        justify-content: center;
        margin-top: 10px;
    }
}

@media (max-width: 639px) {
    .first {
        display: flex;
        flex-direction: column;
        /* Postavlja sliku i tekst jedan ispod drugog */
        align-items: center;
        /* Centriranje sadržaja */
        text-align: center;
        padding: 20px;
    }

    .right img {
        width: 100%;
        /* Osigurava da slika zauzme punu širinu */
        height: auto;
    }

    .left {
        width: 90%;
        /* Tekst ostaje u okviru ekrana */
    }
}

@media (min-width: 1024px) {
    .first {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-bottom: 50px;
        height: 300px;
        margin: auto;

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;

        }

        .left {
            display: flex;
            /* Aktivirajte fleksibilan layout */
            flex-direction: column;
            /* Elementi se prikazuju jedan ispod drugog */
            align-items: center;
            /* Centriranje elemenata horizontalno */
            justify-content: center;
            /* Centriranje elemenata vertikalno */
            min-height: 100vh;
            /* Visina kontejnera podešena na visinu ekrana */
        }

        .lorem {
            padding: 1px 0;
            /* Gornji i donji razmak */
            text-align: center;
            /* Centrirani tekst */
            font-size: 1rem;
        }

    }
}

.parent {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.child {
    justify-content: flex-end;
}


@media (min-width: 639px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        /* Jedna kolona */
        /*grid-template-rows: auto;*/
        /* Automatsko podešavanje redova */
        gap: 20px;
        /* Razmak između elemenata */
        margin: 10px;
        align-items: center;
    }

    @media (min-width: 639px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /* Dve kolone */
            grid-template-rows: repeat(4, auto);
            gap: 20px;
           margin: 10px;
        }
    }
}
@media (max-width: 639px) {  
.spot-text {
 display: none;
}
}
@media (min-width: 1024px) {
 .spot-text {
     display: block; /* Vraća vidljivost */
 }
}

@media (min-width: 639px) {
    .smaikoner {
        display: flex;
        /* Aktivirajte Flexbox */
        flex-direction: column;
        justify-content: space-evenly;
        /* Centriranje celog sadržaja horizontalno */
        align-items:flex-start;
        /* Centriranje celog sadržaja vertikalno */
        gap: 20px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
}
@media (min-width: 639px) {
   #footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
   } 
}

@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 4 kolone */
        grid-template-rows: repeat(2, auto);
        /* 2 reda */
        gap: 20px;
        /* Razmak između elemenata */
        flex-grow: 1;
        margin: 10px;
    }
}


.spot {
    position: relative;
    width: 100%;
    /* Puna širina kolone */
    margin-bottom: 10px;
    /* Ograničenje veličine */
    text-align: center;
}

.image-container {
    position: relative;
    width: 90%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.caption-left {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.caption-right {
    position: absolute;
    bottom: -20px;
    right: 0;
}

.below-first-word {
    position: absolute;
    bottom: -40px;
    left: 0;
    /* Može biti prilagođeno */
}

@media (min-width: 1024px) {
    .smaikoner {
        display: flex;
        /* Aktivirajte Flexbox */
        justify-content: space-evenly;
        /* Centriranje celog sadržaja horizontalno */
        align-items: center;
        /* Centriranje celog sadržaja vertikalno */
        gap: 20px;
        padding-bottom: 80px;
    }
}

.smal {
    display: flex;
    /* Aktivirajte Flexbox unutar pojedinačnih elemenata */
    align-items: center;
    /* Poravnanje teksta i ikone vertikalno */
    gap: 15px;
    /* Razmak između ikone i teksta */
}

.smal img {
    width: 24px;
    /* Postavite željenu širinu ikone */
    height: auto;
    /* Održava proporcije slike */
}

.smal p {
    margin: 0;
    /* Uklonite dodatni razmak ako postoji */
    font-size: 16px;
    /* Prilagodite veličinu fonta teksta */
}

th,
td {
    padding-top: 30px;
    padding-bottom: 0;
}

table {
    height: auto;
    width: auto;
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}

#footer {
    background: #444444;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    color: lightgray;
    padding: 10px;
    text-align: left;
}

p {
    text-align: center;
}

@media (min-width: 639px) {
   #footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
   } 
}
@media (max-width: 639px) {
    #footer {
        background: #444444;
        height: auto;
        font-family: 'Courier New', Courier, monospace;
        color: lightgray;
        padding: 10px;
        text-align: left;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    thead {
        display: none; /* Sakrij zaglavlja tabela */
    }

    tbody {
        display: flex;
        flex-wrap: wrap; /* Osigurava da kolone i redovi budu responzivni */
        justify-content: space-between;
    }

    tr {
        display: flex;
        flex-direction: column; /* Redovi postaju vertikalni */
        width: 48%; /* Polovina širine za svaku kolonu */
        margin-bottom: 10px; /* Razmak između redova */
    }

    td {
        text-align: left;
        padding: 5px 0;
        border-bottom: 1px solid #555; /* Dodaj razdvajanje redova */
    }

    td:before {
        content: attr(data-label); /* Dodaj naslove kolona kao etiketu */
        font-weight: bold;
        display: block; /* Naslovi postaju vidljivi iznad svakog podatka */
    }

    p {
        text-align: center;
        margin-top: 20px;
    }
}
  
@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* 4 kolone */
        grid-template-rows: repeat(2, auto);
        /* 2 reda */
        gap: 20px;
        /* Razmak između elemenata */
        flex-grow: 1;
        margin: 10px;
    }
}


.spot {
    position: relative;
    width: 100%;
    /* Puna širina kolone */
    margin-bottom: 10px;
    /* Ograničenje veličine */
    text-align: center;
}

.image-container {
    position: relative;
    width: 90%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
}

.caption-left {
    position: absolute;
    bottom: -20px;
    left: 0;
}

.caption-right {
    position: absolute;
    bottom: -20px;
    right: 0;
}

.below-first-word {
    position: absolute;
    bottom: -40px;
    left: 0;
    /* Može biti prilagođeno */
}

@media (min-width: 1024px) {
    .smaikoner {
        display: flex;
        /* Aktivirajte Flexbox */
        justify-content: space-evenly;
        /* Centriranje celog sadržaja horizontalno */
        align-items: center;
        /* Centriranje celog sadržaja vertikalno */
        gap: 20px;
        padding-bottom: 80px;
    }
}

.smal {
    display: flex;
    /* Aktivirajte Flexbox unutar pojedinačnih elemenata */
    align-items: center;
    /* Poravnanje teksta i ikone vertikalno */
    gap: 15px;
    /* Razmak između ikone i teksta */
}

.smal img {
    width: 24px;
    /* Postavite željenu širinu ikone */
    height: auto;
    /* Održava proporcije slike */
}

.smal p {
    margin: 0;
    /* Uklonite dodatni razmak ako postoji */
    font-size: 16px;
    /* Prilagodite veličinu fonta teksta */
}

th,
td {
    padding-top: 30px;
    padding-bottom: 0;
}

table {
    height: auto;
    width: auto;
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}

#footer {
    background: #444444;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    color: lightgray;
    padding: 10px;
    text-align: left;
}

p {
    text-align: center;

}